CAPA VEREDAS DANE 2020/*
CAPAS LEGALIZACIÓN/*
CAPAS CATASTRO DEPARTAMENTALES/*
CAPAS SEPTIEMBRE 2023/*
CAPAS ZRC/*
POSESICIÓN_ANECESTRAL_N2_24042024.mxd
Solicitud_Polines_16_04_2024.mpk
territorializacion JBB.7z
POSESICIÓN_ANECESTRAL_N2_24042024/*